[Desktop Entry]
Name=Azureus
GenericName=BitTorrent Client
Exec=azureus %U
Icon=azureus
Terminal=false
Type=Application
MimeType=x-scheme-handler/magnet;application/x-bittorrent;
Categories=Application;Network;FileTransfer;P2P;GTK;Java;

